*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    position:fixed;
    width: 100%;
    padding: 25px 12.5%;
    background-color: #0468BF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

/*BARRA DE NAVEGACIÓN*/
.navbar a{ /*Los links*/
    position: relative;
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}

.navbar a::after{ /*Lineas encima de los links*/
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background-color: #05DBF2;
    border-radius: 5px;
    transform: translateY(10px); /*Posición en la que van a estar*/
    transition: .5s; /*Hace que la linea suba para arriba, a su otra posición*/
    opacity: 0; /*Da el efecto de aparición*/
}

.navbar a:hover::after{
    opacity: 1;
    transform: translateY(0);
}

.navbar{ /*Espacio general de la barra*/
    font-size: 16px;
    color:#05DBF2;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}

body{
    background-image: url(https://i.redd.it/czdysgivyau41.png);
    background-size: cover;
}

main { /*Contenido de la pestaña*/
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.comment-box{ /*Contenido de la caja de comentarios*/
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;
    background-color: #0468BF;
    color: white;
}

/**/

.input-box{ /*Contenedores de opciones*/
    position: relative;
    width: 340px;
    height: 50px;
    border-bottom: 2px solid white; /*La linea blanca debajo de las opciones*/
    margin: 30px 0;
}

.input-box input{ /*Zona para escribir y texto dentro*/
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
    font-weight: 500;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: .5s ease; /*Transcision smooth entre titulo y barra para escribir*/
}

.input-box input:focus~label, 
.input-box input:valid~label{ /*Para que deje espacio para escribir debajo del título de la opción*/
    top: -5px;
}

.comment-space{
    padding: 5px;
}

.comment-space textarea{ /*Area para el comentario*/
    width: 350px;
    resize: none; /*Deshabilita la redimensión del cuadro de texto*/
    font-size: 16px;
}

.btn{ /*Botón de Enviar*/
    width: 100%;
    height: 35px;
    margin-top: 1rem;
    background-color: green;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.btn:hover{
    background-color: #05DBF2;
}

