*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    text-align: center;
    line-height: 25px;
    background: url(img/classroom.png) no-repeat;
    background-size: cover;
    backdrop-filter: blur(15px);
    color: white;
}

header{
    position:fixed;
    width: 100%;
    padding: 25px 12.5%;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

/*BARRA DE NAVEGACIÓN*/
.navbar a{ /*Los links*/
    position: relative;
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}

.navbar a::after{ /*Lineas encima de los links*/
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background-color: #05DBF2;
    border-radius: 5px;
    transform: translateY(10px); /*Posición en la que van a estar*/
    transition: .5s; /*Hace que la linea suba para arriba, a su otra posición*/
    opacity: 0; /*Da el efecto de aparición*/
}

.navbar a:hover::after{
    opacity: 1;
    transform: translateY(0);
}

.navbar{ /*Espacio general de la barra*/
    font-size: 16px;
    color:#05DBF2;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}

main h1{
    font-size: 36px;
    padding: 1rem 9%;
}

main h2 img{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Agrega una sombra debajo*/
}

.homeContent{
    margin-left: 5px;
    margin-right: 5px;
}

.names{
    font-size: 20px;
    font-weight: 600;
}

.fotodelosPersonajes{
    width: 896px;
    height: 592px;
}

.fotoMai{
    width: 450px;
    height: 450px;
}

.fotoRio{
    width: 450px;
    height: 450px;
}

.fotoShoko{
    width: 600px;
    height: 350px;
}

.fotoNodoka{
    width: 450px;
    height: 450px;
}

img:hover{
    transform: scale(1.01); /*Zooms in cuando el puntero pasa por encima*/
}

footer{
    width: 100%;
    backdrop-filter: blur(15px);
    display: flex;
    padding-left: 15px;
}