*{
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    text-align: center;
    line-height: 25px;
    background: url(img/classroom-afternoon.png) no-repeat;
    background-size: cover;
    backdrop-filter: blur(12px);
    color: white;
}

header{
    position:fixed;
    width: 100%;
    padding: 25px 12.5%;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

/*BARRA DE NAVEGACIÓN*/
.navbar a{ /*Los links*/
    position: relative;
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}

.navbar a::after{ /*Lineas encima de los links*/
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background-color: #05DBF2;
    border-radius: 5px;
    transform: translateY(10px); /*Posición en la que van a estar*/
    transition: .5s; /*Hace que la linea suba para arriba, a su otra posición*/
    opacity: 0; /*Da el efecto de aparición*/
}

.navbar a:hover::after{
    opacity: 1;
    transform: translateY(0);
}

.navbar{ /*Espacio general de la barra*/
    font-size: 16px;
    color:#05DBF2;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}

#burger-btn {
    font-size: 3rem;
    cursor: pointer;
    display: none;
    margin-left: 1.5rem;
}

main{
    padding-top: 3rem;
}

main h1{
    font-size: 36px;
    padding: 1rem 9%;
}

main h2 img{
    width: 700px;
    height: 400px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.homeContent{
    margin-left: 5px;
    margin-right: 5px;
}

.subtitulos{
    font-weight: 600;
    font-size: 20px;
}

table{
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5)
}

th, td{
    border: 2px solid #05c7f2;
    padding: 8px;
    text-align: left;
}

th{
    font-weight: bold;
}

td{
    text-align: center;
}

td img{
    width: 700px;
    height: 400px;
    text-align: center;
}

td img:hover{
    transform: scale(1.08); /*Zooms in cuando el puntero pasa por encima*/
}

.peliculas img{
    width: 300px;
    height: 450px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /*Agrega una sombra debajo*/
}

.anotacion{
    font-style: italic;
}

.peliculas{
    font-size: 20px;
    font-weight: 600;
}

footer{
    width: 100%;
    backdrop-filter: blur(15px);
    display: flex;
    padding-left: 15px;
}

/*MEDIA QUERY*/

@media (max-width:1400px){
    img{
        width: 85%;
        height: 85%;
    }

    td img{
        width: 85%;
        height: 85%;
    }
}

@media (max-width:1300px) {
    
    html{
        font-size: 95%;
    }

    .navbar a{
        padding: 15px;
        margin: 0;
        align-items: left;
    }

    img{
        width: 75%;
        height: 75%;
    }

    td img{
        width: 75%;
        height: 75%;
    }
}

@media (max-width:991px) {
    
    html{
        font-size: 70%;
    }

    #burger-btn {
        display: block; /*Muestra el menú hamburguesa*/
    }

    header .navbar {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #F7F7F7;
        border-top: 1px solid #ccc;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    }

    /*SE CONVIERTEN LOS BOTONES DE LAS PESTAÑAS EN COLUMNAS*/
    header .navbar ul {
        flex-direction: column;
        width: 100%;
    }

    header .navbar a {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0.5rem 0;
        border: none;
    }

    header .navbar.active {
        display: flex; /*Abre el menú cuando se hace click*/
    }

    .home{
        background-position: auto;
    }
}

@media (max-width:768px) {
    
    html{
        font-size: 60%;
    }

    .home{
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 680px) and (min-width: 451px) {
    
    html{
        font-size: 55%;
    }

}

@media (max-width:450px) and (min-width: 250px){ 
    
    html{
        font-size: 50%;
    }

}