*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    position:fixed;
    width: 100%;
    padding: 25px 12.5%;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

/*BARRA DE NAVEGACIÓN*/
.navbar a{ /*Los links*/
    position: relative;
    font-size: 16px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}

.navbar a::after{ /*Lineas encima de los links*/
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background-color: #05DBF2;
    border-radius: 5px;
    transform: translateY(10px); /*Posición en la que van a estar*/
    transition: .5s; /*Hace que la linea suba para arriba, a su otra posición*/
    opacity: 0; /*Da el efecto de aparición*/
}

.navbar a:hover::after{
    opacity: 1;
    transform: translateY(0);
}

.navbar{ /*Espacio general de la barra*/
    font-size: 16px;
    color:#05DBF2;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}

#burger-btn {
    font-size: 3rem;
    cursor: pointer;
    display: none;
    margin-left: 1.5rem;
}

body{
    background-image: url(https://i.redd.it/czdysgivyau41.png);
    background-size: cover;
}

main { /*Contenido de la pestaña*/
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.comment-box{ /*Contenido de la caja de comentarios*/
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;
    background-color: rgba(50, 50, 50, 0.5);
    color: white;
}

/**/

.input-box{ /*Contenedores de opciones*/
    position: relative;
    width: 340px;
    height: 50px;
    border-bottom: 2px solid white; /*La linea blanca debajo de las opciones*/
    margin: 30px 0;
}

.input-box input{ /*Zona para escribir y texto dentro*/
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
    font-weight: 500;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: .5s ease; /*Transcision smooth entre titulo y barra para escribir*/
}

.input-box input:focus~label, 
.input-box input:valid~label{ /*Para que deje espacio para escribir debajo del título de la opción*/
    top: -5px;
}

.comment-space{
    padding: 5px;
}

.comment-space textarea{ /*Area para el comentario*/
    width: 350px;
    resize: none; /*Deshabilita la redimensión del cuadro de texto*/
    font-size: 16px;
}

.btn{ /*Botón de Enviar*/
    width: 100%;
    height: 35px;
    margin-top: 1rem;
    background-color: #0367A6;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.btn:hover{
    background-color: #05DBF2;
}

/*MEDIA QUERY*/

@media (max-width:1300px) {
    
    .html{
        font-size: 90%;    
    }

    .navbar a{
        padding: 15px;
        margin: 0;
        align-items: left;
    }
}

@media (max-width:991px) {

    #burger-btn {
        display: block; /*Muestra el menú hamburguesa*/
    }

    header .navbar {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #F7F7F7;
        border-top: 1px solid #ccc;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    }

    /*SE CONVIERTEN LOS BOTONES DE LAS PESTAÑAS EN COLUMNAS*/
    header .navbar ul {
        flex-direction: column;
        width: 100%;
    }

    header .navbar a {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0.5rem 0;
        border: none;
    }

    header .navbar.active {
        display: flex; /*Abre el menú cuando se hace click*/
    }

    .home{
        background-position: auto;
    }
}

@media (max-width:991px) {

    .html{
        font-size: 70%;    
    }
    
    /*.comment-box{

    }*/
}

@media (max-width:450px) and (min-width: 250px){ 
    
    .html{
        font-size: 60%;    
    }

}

