*{
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    text-align: center;
    line-height: 25px;
    background-color: #2B4C8C;
    color: white;
}

/*Indice*/
nav a{
    border-bottom: 3px solid transparent;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 2px;
    border-radius: 5px;
    border-bottom: 5px solid #05DBF2;
    color: white;
}

nav a:hover,
nav a:active{
    border-bottom: 3px solid #05DBF2;
    color: #A6806A;
}

header{
    background-color: #0468BF;
}

main h1{
    font-size: 36px;
    padding: 1rem 9%;
}

main h2 img{
    width: 700px;
    height: 400px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.homeContent{
    margin-left: 5px;
    margin-right: 5px;
}

.subtitulos{
    font-weight: 600;
    font-size: 20px;
}

table{
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #3a3f7f;
}

th, td{
    border: 2px solid #05c7f2;
    padding: 8px;
    text-align: left;
}

th{
    font-weight: bold;
}

td img{
    padding: 5px;
    margin: 10px;
    width: 700px;
    height: 400px;
}

td img:hover{
    transform: scale(1.08); /*Zooms in cuando el puntero pasa por encima*/
}

.peliculas img{
    width: 300px;
    height: 450px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /*Agrega una sombra debajo*/
}

.anotacion{
    font-style: italic;
}

.peliculas{
    font-size: 20px;
    font-weight: 600;
}

footer{
    margin-bottom: 5px;
    margin-left: 5px;
    width: 99%;
    background-color: #0468BF;
    display: flex;
}