*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{

    text-align: center;
    line-height: 25px;
    background-color: #2B4C8C;
    color: white;
}

/*Indice*/
nav a{
    border-bottom: 3px solid transparent;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 2px;
    border-radius: 5px;
    border-bottom: 5px solid #05DBF2;
    color: white;
}

nav a:hover,
nav a:active{
    border-bottom: 3px solid #05DBF2;
    color: #A6806A;
}

header{
    background-color: #0468BF;
}

main h1{
    font-size: 36px;
    padding: 1rem 9%;
}

main h2 img{
    width: 700px;
    height: 400px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.homeContent{
    margin-left: 5px;
    margin-right: 5px;
}

.homeContent p{
    font-size: 18px;
}

.subtitulo{
    font-weight: 600;
}

.poster{
    height: 600px;
}

.mySection{
    font-size: 18px;
    font-style: italic;
}

.bunnyOri{
    height: 400px;
    margin: 10px;
}

footer{
    margin-bottom: 5px;
    margin-left: 5px;
    width: 99%;
    background-color: #0468BF;
    display: flex;
}