*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    text-align: center;
    background: url(img/classroom.png) no-repeat;
    background-size: cover;
    backdrop-filter: blur(15px);
    color: white;
}

header{
    position:fixed;
    width: 100%;
    padding: 25px 12.5%;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/*BARRA DE NAVEGACIÓN*/
.navbar a{ /*Los links*/
    position: relative;
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}

.navbar a::after{ /*Lineas encima de los links*/
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background-color: #05DBF2;
    border-radius: 5px;
    transform: translateY(10px); /*Posición en la que van a estar*/
    transition: .5s; /*Hace que la linea suba para arriba, a su otra posición*/
    opacity: 0; /*Da el efecto de aparición*/
}

.navbar a:hover::after{
    opacity: 1;
    transform: translateY(0);
}

.navbar{ /*Espacio general de la barra*/
    font-size: 16px;
    color:#05DBF2;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}

#burger-btn {
    font-size: 3rem;
    cursor: pointer;
    display: none;
    margin-left: 1.5rem;
}

main{
    padding-top: 3rem;
}

main h1{
    font-size: 36px;
    padding: 1rem 9%;
}

main h2 img{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Agrega una sombra debajo*/
}

.homeContent{
    margin-left: 5px;
    margin-right: 5px;
}

.fotodelosPersonajes{
    width: 896px;
    height: 592px;
}

.fotoMai, .fotoRio, .fotoNodoka{
    width: 450px;
    height: 450px;
}

.fotoShoko{
    width: 600px;
    height: 350px;
}

img:hover{
    transform: scale(1.01); /*Zooms in cuando el puntero pasa por encima*/
}

table{
    width: 90%;
    border-collapse: collapse;
    margin: 2px auto;
    background-color: rgba(0, 0, 0, 0.5)
}

th, td{
    border: 2px solid #05c7f2;
    padding: 8px;
    text-align: center;
}

th{
    font-weight: bold;
}

footer{
    width: 100%;
    backdrop-filter: blur(15px);
    display: flex;
    padding-left: 15px;
    padding-top: 2rem;
}

@media (max-width:1400px){
    
}

@media (max-width:1300px) {
    
    html{
        font-size: 85%;
    }

    .navbar a{
        padding: 15px;
        margin: 0;
        align-items: left;
    }

    .fotodelosPersonajes{
        width: 596px;
        height: 392px;
    }

    .fotoSakuta{
        width: 69%;
        height: 69%;
    } 

    .fotoKaede{
        width: 65%;
        height: 65%;
    }

    .fotoMai, .fotoRio, .fotoTomoe, .fotoNodoka{
        width: 40%;
        height: 40%;
    }

    .fotoShoko{
        width: 60%;
        height: 60%;
    }

    table th td{
        padding: 0;
        margin: 0px;
    }
}

@media (max-width:991px) {
    
    html{
        font-size: 55%;
    }

    #burger-btn {
        display: block; /*Muestra el menú hamburguesa*/
    }

    header .navbar {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #F7F7F7;
        border-top: 1px solid #ccc;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    }

    /*SE CONVIERTEN LOS BOTONES DE LAS PESTAÑAS EN COLUMNAS*/
    header .navbar ul {
        flex-direction: column;
        width: 100%;
    }

    header .navbar a {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0.5rem 0;
        border: none;
    }

    header .navbar.active {
        display: flex; /*Abre el menú cuando se hace click*/
    }

    .home{
        background-position: auto;
    }

}

@media (max-width:768px) {

}

@media (max-width: 680px) and (min-width: 451px) {

}

@media (max-width:450px) and (min-width: 250px){

}