*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    text-align: center;
    line-height: 25px;
    background-color: #2B4C8C;
    color: white;
}

/*Indice*/
nav a{
    border-bottom: 3px solid transparent;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 2px;
    border-radius: 5px;
    border-bottom: 5px solid #05DBF2;
    color: white;
}

nav a:hover,
nav a:active{
    border-bottom: 3px solid #05DBF2;
    color: #A6806A;
}

header{
    background-color: #0468BF;
}

main h1{
    font-size: 36px;
    padding: 1rem 9%;
}

main h2 img{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Agrega una sombra debajo*/
}

.homeContent{
    margin-left: 5px;
    margin-right: 5px;
}

.names{
    font-size: 20px;
    font-weight: 600;
}

.fotodelosPersonajes{
    width: 896px;
    height: 592px;
}

.fotoMai{
    width: 450px;
    height: 450px;
}

.fotoRio{
    width: 450px;
    height: 450px;
}

.fotoShoko{
    width: 600px;
    height: 350px;
}

.fotoNodoka{
    width: 450px;
    height: 450px;
}

img:hover{
    transform: scale(1.01); /*Zooms in cuando el puntero pasa por encima*/
}

footer{
    margin-bottom: 5px;
    margin-left: 5px;
    width: 99%;
    background-color: #0468BF;
    display: flex;
}